
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 550px), (min-resolution: 2dppx) and (min-width: 550px){


header .pc_navi_li li.navi_toppage a {
    background-image: url(images/top/navi_top@2x.png);
}

}


@media (min-width: 550px) {
header .pc_navi_li li.navi_toppage a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url(images/top/navi_top.png);
    background-size: 40px 40px;
}
}

